<script src="https://use.fontawesome.com/34e3857a3d.js"></script>
<table style="color:white">
    <tr>
    <th style="width:160px; font-weight:2em; font-family: 'Risque', cursive;"><center><h2>Rank</h2></center></th>
    <th style="width:200px; font-weight:2em; font-family: 'Risque', cursive;"><center><h2>Name</h2></center></th>
    <th style="width:160px; font-weight:2em; font-family: 'Risque', cursive;"><center><h2>Score</h2></center></th></tr>
    <tr><br></tr>
    {% for i in topten %}
    {% if forloop.counter in topt %}
    <tr style="font-family: 'Alegreya', serif; background:#ff9d33; border-radius:5px;border:5px solid #e3212a;">
    <td><center><h3 style="margin:3px">{{ forloop.counter }}</h3></center><br></td>
      <td><center><h3 style="margin:3px"><i class="fas fa-trophy"></i> {{ i.user.name }}</h3></center><br></td><td><center><h3 style="margin:3px">{{ i.score }}</h3></center><br></td>
      
      </tr>
    {% else %}
    <tr style="font-family: 'Alegreya', serif;">
    <td><center><h3 style="margin:3px">{{ forloop.counter }}</h3></center><br></td>
      <td><center><h3 style="margin:3px">{{ i.user.name }}</h3></center><br></td><td><center><h3 style="margin:3px">{{ i.score }}</h3></center><br></td>
    
      </tr>
      {% endif %}
    {% endfor %}
</table>