{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>CatchThatBus | Happy New Year</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" /> -->
  <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link href="https://fonts.googleapis.com/css?family=Alegreya|Indie+Flower|Rammetto+One|Risque" rel="stylesheet">
</head>
<body style="background:#ffb300;color:#e3212a;padding:20px; text-align: justify; ">
<center><h2><b>Terms and Conditions</b></h2></center>
<hr><br>
<center>
<div style="max-width:800px;text-align: justify;">

<b>Organizer & Eligibility</b>
<ol>
	<li>The CatchThatBus “Wang Wang Angpao Shooter” (hereafter referred to as “Campaign”) is open to all Malaysian residents aged 18 years and above except for employees of Catch That Bus Sdn Bhd, its affiliated companies, advertising, promotion, marketing, PR and media agencies, members of their immediate families and participating dealers.
</li>
</ol>




<b>Duration</b>
<ol>
	<li>Campaign will start on 15 February 2018 and end on 18 February 2018, 11:59pm. </li>
</ol>




<b>Submission Rules</b>
<ol>
	<li>Participants are only eligible to <b>10 trials</b> throughout the period of the Campaign.</li>
</ol>




<b>Submission of Entries & Qualification</b>
<ol>
	<li>By participating in this campaign, Participants agree to be bound by the official rules & regulations and all decisions of Catch That Bus Sdn Bhd.
</li>
<li>By joining this campaign, Participants hereby allow Catch That Bus Sdn Bhd to extract information from Participant’s registration details. Information collected will not be used for any purpose other than campaign and advertising reasons.
</li>
<li>How to participate:
	<ol type="i">
		<li>Like the <a href="https://www.facebook.com/CatchThatBus/"> CatchThatBus Malaysia Facebook</a> page.</li>
		<li>Go to <a href="http://play.catchthatbus.com/"> http://play.catchthatbus.com/ </a></li>
		<li>Tag 5 friends and comment: "I want to win FREE bus tickets! #CNYAngPao"</li>
		<li>Share our post on your Facebook.</li>
	</ol>
</li>
<li>12 participants will be chosen as winners based on the highest score.</li>
<li>Participants are allowed to submit more than one entry (on the Game’s Leaderboard) in the contest duration. However, Participants can only win ONE prize.
</li>
</ol>



<b>Prizes:</b>
<ul>
<li> Top 2 scorers will win *RM50 worth of CatchThatBus promo codes.
</li>
<li>10 runner ups will win *RM15 worth of CatchThatBus promo codes.</li>
</ul>
<ol>
	<li>All entries will be vetted by Catch That Bus Sdn Bhd within 3 working days. Any entry submitted deemed inappropriate will be removed, and will be automatically disqualified.
</li>
<li>The information submitted (Full Name, Email, Phone Number) by the Participant must be authentic. Should a Participant submit false information, Catch That Bus Sdn Bhd reserves the right to disqualify the Participant.</li>
<li>The judges’ decision is final and no correspondence will be entertained.</li>
</ol>




<b>Notification of Winners</b>
<ol>
	<li>Winner list will be announced on <a href="https://www.facebook.com/CatchThatBus/"> CatchThatBus Malaysia Facebook</a> page on 21 February 2018.</li>
	<li>Winners will be notified by email / telephone call to his / her email address or mobile phone. In the event that Catch That Bus Sdn Bhd is unable to contact a Participant within three (3) attempts, Catch That Bus Sdn Bhd reserves the right to disqualify such Participant and choose another qualified Participant as winner. The Organizer is under no duty or obligation to notify the winners using any other mode of communication. The Organizer reserves the rights to use any other method or medium it deems fit at its sole and absolute discretion for the purposes of contacting and/or announcing the winners.</li>
	<li>The Organizer will not be held liable in the event the winner(s) cannot be contacted for any reasons whatsoever.</li>
</ol>




<b>Prizes Redemption</b>
<ol>
	<li>All prizes cannot be exchanged in full, or partially, for cash or other equivalents.</li>

	<li>Catch That Bus Sdn Bhd reserves the right to replace the prizes with items of similar value in the event of unforeseen circumstances without prior notice.</li>

	<li>Proof of identity may be required upon request for winner verification. Should a Participant / winner unable to confirm or authenticate their identity, the Participant / winner will be automatically disqualified.</li>
<!-- 	<li>Prizes will be mailed to the winners based on their mailing address, within 2 months after winners are announced. If the winner fails to claim the prize before 31st May 2015, Catch That Bus Sdn Bhd reserves the rights to forfeit the prize, and determine a replacement winner who will be the new recipient of the prize.</li> -->
	<li>Participants / winners shall assume full liability in the case of any mishap, injury, damage, claim or accidents arising from their participation in the campaigns and/or redemption of the prizes.</li>
</ol>




<b>Liability & Responsibility</b>
<ol>
	<li>All transportation, SMS, postage/courier, personal costs and/or any other costs, fees and/or related expenses that are incurred to participate in this Campaign and to redeem the prizes are the sole responsibility of the winner, and the winner must abide by the terms and conditions of the party(ies) arranging and/or for the prizes and the terms and conditions attached to the prizes, if any.</li>
	<li>Catch That Bus Sdn Bhd and its agencies will not be held liable for any mishaps, legal issues or liabilities caused directly or indirectly from the participation of the campaign.</li>
	<li>Catch That Bus Sdn Bhd and its agencies will not be held liable for any entry that is incomplete or illegible due to problems such as computer malfunctions, lost Internet connections or transmission problems.</li>
</ol>





<b>Rights of Catch That Bus Sdn Bhd</b>
<ol>
	<li>Catch That Bus Sdn Bhd shall reserve the right to publish, use the names and/or photographs of the winners as materials for the purposes of advertising and/or trade publicity, without any prior notice to the winners and the winners shall not be entitled to claim ownership or other forms of compensation on the materials. All Participants’ information and campaign entries details shall become the property of Catch That Bus Sdn Bhd.</li>
	<li>Catch That Bus Sdn Bhd reserves the right to modify, suspend or cancel this Campaign in the event that it becomes not capable of running as planned, technically interfered or corrupted, including but not limited to infection by computer virus, bugs, tampering, unauthorised intervention, fraud, technical failures, or any other causes beyond the control of Catch That Bus Sdn Bhd, despite the best efforts of Catch That Bus Sdn Bhd.</li>
	<li>Catch That Bus Sdn Bhd reserves the right, in its sole discretion, to remove and disqualify any Participant and / or entries that is found or suspected of cheating / tampering with the Campaign submission process, the operation of this Campaign or to be in violation of any Campaign rules. Catch That Bus Sdn Bhd reserves the right to terminate any person who it reasonably suspects has violated or infringed any of these general terms and conditions and Catch That Bus Sdn Bhd reserves the right to pursue legal action against any individual it believes has undertaken fraudulent activities or other activities harmful to this online Campaign or the Campaign submission process.</li>
	<li>By participating in this Campaign, the Participant agrees to receive future information, products or services from Catch That Bus Sdn Bhd after the Campaign of which Catch That Bus Sdn Bhd thinks may be of interest to the Participant and communication will cease upon request of the Participant.</li>
	<li>Catch That Bus Sdn Bhd reserves the right to change the terms and conditions herein at any time at its absolute discretion without prior notice.</li>
	<li>Catch That Bus Sdn Bhd reserves the right to change the prizes of the similar value without prior notice.</li>
</ol>


</div></center>
</body>
</html>